aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.4.0
colorama==0.4.6
colorlog==6.10.1
confspec==0.0.5
frozenlist==1.8.0
hikari==2.5.0
hikari-lightbulb==3.2.3
idna==3.11
linkd==0.3.0
multidict==6.7.1
propcache==0.4.1
psutil==7.2.2
pynput==1.8.1
python-dotenv==1.2.2
typing-extensions==4.15.0
yarl==1.23.0
